Week4.Library.WcfClient/Connected Services/ServiceReferenceLibrary/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Week4.Library.Core" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Week4.Library.Core.Models" />
  <xs:element name="FetchBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Week4.Library.Core" minOccurs="0" name="FetchBooksResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Week4.Library.Core" minOccurs="0" name="newBook" nillable="true" type="q2:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Week4.Library.Core" minOccurs="0" name="editBook" nillable="true" type="q3:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBook" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPrestiti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPrestitiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Week4.Library.Core.Models" minOccurs="0" name="FetchPrestitiResult" nillable="true" type="q4:ArrayOfPrestito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePrestito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Week4.Library.Core.Models" minOccurs="0" name="newPrestito" nillable="true" type="q5:Prestito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePrestitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePrestitoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrestito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Week4.Library.Core.Models" minOccurs="0" name="newPrestito" nillable="true" type="q6:Prestito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPrestitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPrestitoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrestito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPrestito" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrestitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePrestitoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBook" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Week4.Library.Core" minOccurs="0" name="GetByIdBookResult" nillable="true" type="q7:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataReso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reso" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idLibro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataResoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Week4.Library.Core.Models" minOccurs="0" name="UpdateDataResoResult" nillable="true" type="q8:Prestito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>